<section class="px-8 py-6 bg-gradient-to-br from-cyan-400 to-purple-500">
  <div class="mx-auto grid max-w-5xl grid-cols-1 items-center gap-12 md:grid-cols-2">
    <div>
      <h1 class="text-4xl font-bold leading-[1.1] text-white md:text-5xl">Why is NordVPN your best choice in Canada?
      </h1>
      <ul class="list-disc marker:text-blue-500">
        <li>
          <p class="pt-4 text-lg leading-[1.5] text-white">Next-generation encryption</p>
        </li>
        <li>
          <p class="pt-4 text-lg leading-[1.5] text-white">Strict no-logs policy</p>
        </li>
        <li>
          <p class="pt-4 text-lg leading-[1.5] text-white">Convenience and accessibility</p>
        </li>
      </ul>
    </div>
    <img src="/assets/girl-sitting.svg" alt="" class="max-h-[32rem]" />
  </div>
</section>
